[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
virtualenv = "==16.0.0"
requests = "==2.20.0"
pyTelegramBotAPI = "==3.6.6"
Flask = "==1.0.2"

[requires]
python_version = "3.6"
